In [1]:
import pandas as pd
df = pd.read_csv("loan_data.csv")
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [2]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
df.shape

(614, 13)

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(480, 13)

In [9]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [10]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y

In [11]:
df.drop(['Loan_ID'], axis=1, inplace=True)

In [12]:
cat_cols = ['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area']
cat_cols

['Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area']

In [13]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
df.Gender = le1.fit_transform(df.Gender)

In [14]:
le2 = LabelEncoder()
df.Married = le2.fit_transform(df.Married)

In [15]:
le3 = LabelEncoder()
df.Education = le3.fit_transform(df.Education)

In [16]:
le4 = LabelEncoder()
df.Self_Employed = le4.fit_transform(df.Self_Employed)

In [17]:
le5 = LabelEncoder()
df.Property_Area = le5.fit_transform(df.Property_Area)

In [18]:
le6 = LabelEncoder()
df.Loan_Status = le6.fit_transform(df.Loan_Status)

In [19]:
le7 = LabelEncoder()
df.Dependents = le7.fit_transform(df.Dependents)

In [20]:
encoders = {
    'Gender' : le1,
    'Married' : le2,
    'Dependents': le7,
    'Education' : le3,
    'Self_Employed' : le4,
    'Property_Area' : le5,
}

In [21]:
import joblib
joblib.dump(encoders, "encoders.joblib")

['encoders.joblib']

In [22]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1
5,1,1,2,0,1,5417,4196.0,267.0,360.0,1.0,2,1

In [23]:
df.Dependents.unique()

array([1, 0, 2, 3])

In [24]:
x = df.drop(['Loan_Status'], axis=1)
y = df.Loan_Status

In [25]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.05)

In [ ]:
from sklearn.linear_model import LogisticRegression
model1 = LogisticRegression(max_iter=5000)
model1.fit(x_train, y_train)

In [ ]:
y_pred = model1.predict(x_test)
y_pred

In [29]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7916666666666666

In [30]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
model2.fit(x_train, y_train)
y_pred = model2.predict(x_test)
accuracy_score(y_test, y_pred)

0.8333333333333334

In [31]:
from sklearn.tree import DecisionTreeClassifier
model3 = DecisionTreeClassifier()
model3.fit(x_train, y_train)
y_pred = model3.predict(x_test)
accuracy_score(y_test, y_pred)

0.75

In [32]:
from sklearn.neighbors import KNeighborsClassifier
model4 = KNeighborsClassifier()
model4.fit(x_train, y_train)
y_pred = model4.predict(x_test)
accuracy_score(y_test, y_pred)

0.5833333333333334

In [33]:
from sklearn.svm import SVC
model5 = SVC()
model5.fit(x_train, y_train)
y_pred = model5.predict(x_test)
accuracy_score(y_test, y_pred)

0.75

In [34]:
from sklearn.ensemble import GradientBoostingClassifier
model6 = GradientBoostingClassifier()
model6.fit(x_train, y_train)
y_pred = model6.predict(x_test)
accuracy_score(y_test, y_pred)

0.875

In [35]:
joblib.dump(model6, "loan_model.joblib")

['loan_model.joblib']

In [39]:
cols = x.columns.to_list()
joblib.dump(cols, "columns.joblib")

['columns.joblib']